@font-face {
  font-family: 'phys-font';
  src:  url('../fonts/phys-font.eot?pp3nz1');
  src:  url('../fonts/phys-font.eot?pp3nz1#iefix') format('embedded-opentype'),
    url('../fonts/phys-font.ttf?pp3nz1') format('truetype'),
    url('../fonts/phys-font.woff?pp3nz1') format('woff'),
    url('../fonts/phys-font.svg?pp3nz1#phys-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'phys-font' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phys_05:before {
  content: "\e900";
}
.icon-phys_abs-e-lg-pot:before {
  content: "\e901";
}
.icon-phys_abs-q-lg:before {
  content: "\e902";
}
.icon-phys_abs-q-lg-temp-down:before {
  content: "\e903";
}
.icon-phys_abs-q-sm-1:before {
  content: "\e904";
}
.icon-phys_abs-q-sm-2:before {
  content: "\e905";
}
.icon-phys_a-ctr:before {
  content: "\e906";
}
.icon-phys_a-lg:before {
  content: "\e907";
}
.icon-phys_a-lg-out:before {
  content: "\e908";
}
.icon-phys_a-lg-req:before {
  content: "\e909";
}
.icon-phys_a-lg-us:before {
  content: "\e90a";
}
.icon-phys_a-sm:before {
  content: "\e90b";
}
.icon-phys_b-lg:before {
  content: "\e90c";
}
.icon-phys_c-lg:before {
  content: "\e90d";
}
.icon-phys_cos:before {
  content: "\e90e";
}
.icon-phys_db-sin:before {
  content: "\e90f";
}
.icon-phys_delta-farad:before {
  content: "\e910";
}
.icon-phys_delta-fi:before {
  content: "\e911";
}
.icon-phys_delta-p-sm:before {
  content: "\e912";
}
.icon-phys_delta-q-sm:before {
  content: "\e913";
}
.icon-phys_delta-t-lg:before {
  content: "\e914";
}
.icon-phys_delta-t-sm:before {
  content: "\e915";
}
.icon-phys_delta-u-lg:before {
  content: "\e916";
}
.icon-phys_delta-v-lg:before {
  content: "\e917";
}
.icon-phys_delta-x:before {
  content: "\e918";
}
.icon-phys_d-sm:before {
  content: "\e919";
}
.icon-phys_e-lg:before {
  content: "\e91a";
}
.icon-phys_e-lg-1:before {
  content: "\e91b";
}
.icon-phys_e-lg-kin-max:before {
  content: "\e91c";
}
.icon-phys_e-lg-pot-max:before {
  content: "\e91d";
}
.icon-phys_e-sm:before {
  content: "\e91e";
}
.icon-phys_e-sm-0:before {
  content: "\e91f";
}
.icon-phys_e-sm-ind:before {
  content: "\e920";
}
.icon-phys_e-sm-max:before {
  content: "\e921";
}
.icon-phys_farad:before {
  content: "\e922";
}
.icon-phys_f-friction:before {
  content: "\e923";
}
.icon-phys_fi:before {
  content: "\e924";
}
.icon-phys_fi-1:before {
  content: "\e925";
}
.icon-phys_fi-2:before {
  content: "\e926";
}
.icon-phys_f-lg:before {
  content: "\e927";
}
.icon-phys_f-lg-1:before {
  content: "\e928";
}
.icon-phys_f-lg-2:before {
  content: "\e929";
}
.icon-phys_f-lg-a:before {
  content: "\e92a";
}
.icon-phys_f-lg-l:before {
  content: "\e92b";
}
.icon-phys_f-lg-n:before {
  content: "\e92c";
}
.icon-phys_fr:before {
  content: "\e92d";
}
.icon-phys_g-lg:before {
  content: "\e92e";
}
.icon-phys_g-sm:before {
  content: "\e92f";
}
.icon-phys_h-sm:before {
  content: "\e930";
}
.icon-phys_h-sm-1:before {
  content: "\e931";
}
.icon-phys_h-sm-2:before {
  content: "\e932";
}
.icon-phys_h-sm-max:before {
  content: "\e933";
}
.icon-phys_i-lg:before {
  content: "\e934";
}
.icon-phys_i-lg-1:before {
  content: "\e935";
}
.icon-phys_i-lg-2:before {
  content: "\e936";
}
.icon-phys_i-lg-d:before {
  content: "\e937";
}
.icon-phys_j-sm:before {
  content: "\e938";
}
.icon-phys_k-lg:before {
  content: "\e939";
}
.icon-phys_kpd:before {
  content: "\e93a";
}
.icon-phys_k-sm:before {
  content: "\e93b";
}
.icon-phys_l-lg:before {
  content: "\e93c";
}
.icon-phys_lmbd:before {
  content: "\e93d";
}
.icon-phys_lmbd-0:before {
  content: "\e93e";
}
.icon-phys_l-sm:before {
  content: "\e93f";
}
.icon-phys_minus:before {
  content: "\e940";
}
.icon-phys_m-lg:before {
  content: "\e941";
}
.icon-phys_m-sm:before {
  content: "\e942";
}
.icon-phys_m-sm-0:before {
  content: "\e943";
}
.icon-phys_m-sm-1:before {
  content: "\e944";
}
.icon-phys_m-sm-2:before {
  content: "\e945";
}
.icon-phys_mu:before {
  content: "\e946";
}
.icon-phys_mu-0:before {
  content: "\e947";
}
.icon-phys_mu-min:before {
  content: "\e948";
}
.icon-phys_n-lg:before {
  content: "\e949";
}
.icon-phys_n-lg-a:before {
  content: "\e94a";
}
.icon-phys_n-sm:before {
  content: "\e94b";
}
.icon-phys_n-sm-1:before {
  content: "\e94c";
}
.icon-phys_n-sm-2:before {
  content: "\e94d";
}
.icon-phys_om:before {
  content: "\e94e";
}
.icon-phys_om-0:before {
  content: "\e94f";
}
.icon-phys_pi:before {
  content: "\e950";
}
.icon-phys_p-lg:before {
  content: "\e951";
}
.icon-phys_plus:before {
  content: "\e952";
}
.icon-phys_p-sm:before {
  content: "\e953";
}
.icon-phys_q-lg:before {
  content: "\e954";
}
.icon-phys_q-lg-temp-down:before {
  content: "\e955";
}
.icon-phys_q-lg-temp-up:before {
  content: "\e956";
}
.icon-phys_q-sm:before {
  content: "\e957";
}
.icon-phys_q-sm-0:before {
  content: "\e958";
}
.icon-phys_q-sm-1:before {
  content: "\e959";
}
.icon-phys_q-sm-2:before {
  content: "\e95a";
}
.icon-phys_r-lg:before {
  content: "\e95b";
}
.icon-phys_r-lg-1:before {
  content: "\e95c";
}
.icon-phys_r-lg-n:before {
  content: "\e95d";
}
.icon-phys_ro:before {
  content: "\e95e";
}
.icon-phys_ro-0:before {
  content: "\e95f";
}
.icon-phys_r-sm:before {
  content: "\e960";
}
.icon-phys_sgm:before {
  content: "\e961";
}
.icon-phys_sin:before {
  content: "\e962";
}
.icon-phys_s-lg:before {
  content: "\e963";
}
.icon-phys_sq-a-lg:before {
  content: "\e964";
}
.icon-phys_sq-b-lg:before {
  content: "\e965";
}
.icon-phys_sq-c-lg:before {
  content: "\e966";
}
.icon-phys_sq-fr:before {
  content: "\e967";
}
.icon-phys_sq-i-lg:before {
  content: "\e968";
}
.icon-phys_sq-n-sm:before {
  content: "\e969";
}
.icon-phys_sq-om:before {
  content: "\e96a";
}
.icon-phys_sq-pi:before {
  content: "\e96b";
}
.icon-phys_sq-r-lg:before {
  content: "\e96c";
}
.icon-phys_sq-sin:before {
  content: "\e96d";
}
.icon-phys_sq-t-sm:before {
  content: "\e96e";
}
.icon-phys_sq-u-lg:before {
  content: "\e96f";
}
.icon-phys_sq-v-sm:before {
  content: "\e970";
}
.icon-phys_sq-v-sm-0:before {
  content: "\e971";
}
.icon-phys_sq-v-sm-max:before {
  content: "\e972";
}
.icon-phys_sq-v-sm-mid:before {
  content: "\e973";
}
.icon-phys_sq-x:before {
  content: "\e974";
}
.icon-phys_t-lg:before {
  content: "\e975";
}
.icon-phys_t-lg-temp-down:before {
  content: "\e976";
}
.icon-phys_t-lg-temp-up:before {
  content: "\e977";
}
.icon-phys_t-sm:before {
  content: "\e978";
}
.icon-phys_t-sm-max:before {
  content: "\e979";
}
.icon-phys_t-sm-up:before {
  content: "\e97a";
}
.icon-phys_u-lg:before {
  content: "\e97b";
}
.icon-phys_u-lg-1:before {
  content: "\e97c";
}
.icon-phys_u-lg-2:before {
  content: "\e97d";
}
.icon-phys_u-lg-d:before {
  content: "\e97e";
}
.icon-phys_v-lg:before {
  content: "\e97f";
}
.icon-phys_v-sm:before {
  content: "\e980";
}
.icon-phys_v-sm-0:before {
  content: "\e981";
}
.icon-phys_v-sm-1:before {
  content: "\e982";
}
.icon-phys_w-lg:before {
  content: "\e983";
}
.icon-phys_w-lg-kin:before {
  content: "\e984";
}
.icon-phys_w-lg-pot:before {
  content: "\e985";
}
.icon-phys_x-sm:before {
  content: "\e986";
}
.icon-phys_x-sm-0:before {
  content: "\e987";
}
.icon-phys_z-lg:before {
  content: "\e988";
}
.icon-phys_2:before {
  content: "\e989";
}
.icon-phys_3:before {
  content: "\e98a";
}
